body {
    background-color: rgb(255, 241, 241);
    margin:0px;
    grid-column: span 12;
}

header {
    background: rgba(0, 0, 0, 0.856);
    align-items: center; /* holder items i midten av høyden */
}

.space{
    min-height: 40px; /* mellomrom mellom div-er og bilder */
}



/* #region header */
/* css for menybar under */
.head-grid {
    --gap: 32px; /* setter en variabel */
    --num-cols: 12; /* variabel for antall kolonner */
    --row-height: 150px:
    
    padding: var(--gap); /* 16px luft mellom alt i head-grid */

    font-size: 30px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); /* angir antall for kolonner (og bredder) */
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

    border-bottom: rgba(94, 94, 94, 0.685) solid 6px;
}
/* #region bilde i header som ble tatt vekk */
/* .head-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head-grid-col-2 {
    grid-column: span 2;
    max-height: 150px;
    min-height: 20px;
}

.head-grid-row-2 {
    grid-row: span 2;
    margin-right: 10px;
    margin-left: 0px;
} */
/* #endregion */

.head-grid h1 {
    color:rgba(168, 156, 160, 0.692); /* kontrastfarge på headeren */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    text-align: center;
    height: 2em;

    grid-column: span 12; /* Spanner over 5 kolonner */
    grid-row: span 1;
    /* padding-left: 5px; */ /* mellomrom mellom bildet og h1 i header */
    max-height: 30px;
}

.head-grid a {
    color:rgba(138, 204, 216, 0.795);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: span 1; /* Spanner over 1 kolonne */
    grid-row: span 1;
    height: 2em;
    padding-left: 10px;
    text-decoration: none;

    width: fit-content;

    justify-content: space-evenly;    

    font-size: 2em;
    text-align: center;
}
/* #endregion */


/* #region main */
main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin: 40px;
}

.main-grid {
    box-sizing: 32px;
    grid-column: 14;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;

    margin-top: var(--gap);

    color:rgb(27, 27, 27);
}

.main-grid a{
    color: rgb(59, 57, 55);
}

.main-content {
    text-align: center;

    grid-column: span 14;

    height: auto;
    font-size: larger;

    margin: 1rem auto  0 auto;
    padding: 80px;
    width: 60%;

    display: grid;
    justify-content: space-between;

}

/* .main-content img {
    height: 250px;

    grid-column: span 2;
    grid-row: span 3;

    object-fit: cover;
} */

.paragrafer {
    color:rgb(59, 57, 55);
    background-color: rgba(250, 217, 108, 0.582);
    border: rgba(197, 170, 83, 0.541) solid 3px;
    border-radius: 16px;

    padding: 1em; /* legger til luft rundt teksten */
    font-size: large;

/*     width: ;
 */
    box-shadow: 10px 20px rgba(150, 129, 62, 0.425);
}

.paragrafer h1 h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    text-align: center;
}

.paragrafer p {
    margin-right: 30px;
    font-size: 150%;
}

/* #region main-bilder */
/* bilder på Hjem siden */
.image-grid {
    --gap: 2px; /* setter en variabel */
    --num-cols-2: 4; /* variabel for antall kolonner */
    --row-height: 600px:

    box-sizing: border-box; /* makes sure the padding doesnt increse the entire width of the containder */
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols-2), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

    min-height: 500px;
    max-height: 800px;
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 16px;
}

.image-grid-col-2 { /* bildet spanner over 2 kolonner */
    grid-column: span 2;
}

.image-grid-col-center {
    align-items: center;
    grid-column: 2/span 2;
    max-height: 600px;
}

.image-grid-row-2 { /* Bildet spanner over 2 rader */
    grid-row: span 2;
}

.image-grid-row-3 {
    grid-row: span 3;
}


/* #endregion */

/* #endregion */


/* #region lenker */
a:hover { /*  Utseendet til lenken idet man tar musepekeren over den */ 
    color:rgb(245, 21, 178);
    text-decoration-color: rgb(184, 202, 196);
    transform: scale(1.1);
}
a:active { /* Utseendet til lenken idet den blir trykket på */ 
    text-decoration-color: none;
}
a:focus {
    color:rgb(136, 30, 30);
    text-decoration-color: rgb(184, 202, 196);
}

/* #endregion */

/* #region @media */
/* alt under 700px */
@media screen and (max-width: 700px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;

        font-size: small;
    }
    .head-grid {
        --num-cols: 4;
        --row-height: 3em;
        min-height: var(--row-height);
    }

    main {
        height: auto;
    }
    .image-grid{
        --num-cols: 4;
        --row-height: 100px;
    }
}

/* #endregion */
